---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=&format=json&prop=revisions&rvprop=content&titles=Wikipedia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: UTF-8
      string: "{\"batchcomplete\":\"\",\"query\":{\"pages\":{\"5043734\":{\"pageid\":5043734,\"ns\":0,\"title\":\"Wikipedia\",\"revisions\":[{\"contentformat\":\"text/x-wiki\",\"contentmodel\":\"wikitext\",\"*\":\"{{about|the
        Internet encyclopedia}}\\n{{Selfref|For Wikipedia's non-encyclopedic visitor
        introduction, see {{srlink|Wikipedia:About}}.}}\\n{{pp-vandalism|small=yes}}\\n{{Use
        mdy dates|date=November 2012}}\\n{{Infobox website\\n| name            = Wikipedia\\n|
        logo            = [[File:Wikipedia-v2-logo.svg|frameless|150px|alt=A white
        sphere made of large jigsaw pieces, with letters from several alphabets shown
        on the pieces]]<br />[[File:Wikipedia wordmark.svg|150px|Wikipedia wordmark]]\\n|
        logocaption     = The [[logo of Wikipedia]], a globe featuring [[glyph]]s
        from several [[writing systems]], most of them meaning the letter [[W]] or
        sound \\\"wi\\\"\\n| screenshot      = [[File:Wikipedia Main Page.png|border|300px|alt=Main
        page of the English Wikipedia]]\\n| collapsible     = yes\\n| caption         =
        Main page of the English Wikipedia\\n| url             = {{URL|https://www.wikipedia.org|wikipedia.org}}\\n|
        slogan          = The free encyclopedia that anyone can edit\\n| commercial
        \     = No\\n| type            = [[Internet encyclopedia]]\\n| registration
        \   = Optional<ref group=notes>Registration is required for certain tasks
        such as editing [[protected page]]s, creating pages in the English Wikipedia,
        and uploading files.</ref>\\n| language        = 287 editions<ref>{{cite news|url=http://www.theguardian.com/technology/2014/aug/06/wikipedia-lila-tretikov-glasnost-freedom-of-information|title=Wikipedia
        boss Lila Tretikov: 'Glasnost taught me much about freedom of information|first=Jemima|last=Kiss|first2=Samuel|last2=Gibbs|work=The
        Guardian|date=6 August 2014|accessdate=21 August 2014}}</ref>\\n| num_users
        \      = 73,251 active editors <small>(May 2014)</small>,<ref name=\\\"WikiStat\\\"
        /> {{NUMBEROFUSERS}} total accounts.\\n| content license = {{nobr|[[Creative
        Commons licenses|CC Attribution / Share-Alike]] 3.0}}<br /><small>Most text
        also dual-licensed under [[GFDL]], media licensing varies.</small>\\n| owner
        \          = [[Wikimedia Foundation]]\\n| author          = [[Jimmy Wales]],
        [[Larry Sanger]]<ref name=\\\"Sidener\\\" />\\n| launch date     = {{Start
        date and years ago|mf=ye[...]
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=&format=json&prop=revisions&rvprop=content&titles=foo%7Cbar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=hhvm
    body:
      encoding: UTF-8
      string: "{\"batchcomplete\":\"\",\"query\":{\"normalized\":[{\"from\":\"foo\",\"to\":\"Foo\"},{\"from\":\"bar\",\"to\":\"Bar\"}],\"pages\":{\"3360\":{\"pageid\":3360,\"ns\":0,\"title\":\"Bar\",\"revisions\":[{\"contentformat\":\"text/x-wiki\",\"contentmodel\":\"wikitext\",\"*\":\"{{Wiktionary|Bar|bar|-bar}}\\n'''Bar'''
        or '''BAR''' may refer to:\\n{{TOC right}}\\n==Food and drink==\\n* [[Bar
        (establishment)]], a retail establishment that serves alcoholic beverages;
        also the counter at which drinks are served\\n* [[Dessert bar]], a type of
        cookie\\[...]
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=&format=json&prop=revisions&redirect&rvprop=content&titles=Wikipedia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: UTF-8
      string: "{\"warnings\":{\"main\":{\"*\":\"Unrecognized parameter: 'redirect'\"}},\"batchcomplete\":\"\",\"query\":{\"pages\":{\"5043734\":{\"pageid\":5043734,\"ns\":0,\"title\":\"Wikipedia\",\"revisions\":[{\"contentformat\":\"text/x-wiki\",\"contentmodel\":\"wikitext\",\"*\":\"{{about|the
        Internet encyclopedia}}\\n{{Selfref|For Wikipedia's non-encyclopedic visitor
        introduction, see {{srlink|Wikipedia:About}}.}}\\n{{pp-vandalism|small=yes}}\\n{{Use
        mdy dates|date=November 2012}}\\n{{Infobox website\\n| n[...]
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=&format=json&prop=revisions&redirect&rvprop=content&titles=foo%7Cbar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: UTF-8
      string: "{\"warnings\":{\"main\":{\"*\":\"Unrecognized parameter: 're[...]
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=&format=json&prop=revisions&redirects&rvprop=content&titles=Wikipedia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: UTF-8
      string: "{\"batchcomplete\":\"\",\"query\":{\"pages\":{\"5043734\":{[...]
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=&format=json&prop=revisions&redirects&rvprop=content&titles=foo%7Cbar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=hhvm
    body:
      encoding: UTF-8
      string: "{\"batchcomplete\":\"\",\"query\":{\"normalized\":[{\"from\":\"foo\",\"to\":\"Foo\"},{\"from\":\"bar\",\"to\":\"Bar\"}],\"redirects\":[{\"from\":\"Foo\",\"to\":\"Foobar\"}],\"pages\":{\"3360\":{\"pageid\":3360,\"ns\":0,\"title\":\"Bar\",\"revisions\":[{\"contentformat\":\"text/x-wiki\",\"contentmodel\":\"wikitext\",\"*\":\"{{Wiktionary|Bar|bar|-bar}}\\n'''Bar'''
        or '''BAR''' may refer to:\\n{{TOC right}}\\n==Food and drink==\\n* [[Bar
        (establishment)]], a retail establishment that serves alcoholic beverages;
        also the counter at which drinks are served\\n* [[Dessert bar]], a type of
        cookie\\n\\n=[...]
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=&format=json&prop=revisions&redirects&rvprop=content&titles=foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: UTF-8
      string: "{\"batchcomplete\":\"\",\"query\":{\"normalized\":[{\"from\":\"fo[...]
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=&format=json&prop=revisions&redirects&rvprop=content&titles=foo%7Cbar%7Ccamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=zend
    body:
      encoding: UTF-8
      string: "{\"batchcomplete\":\"\",\"query\":{\"normalized\":[{[...]
