---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&continue=&format=json&prop=revisions&redirects&rvprop=content&titles=foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=hhvm
    body:
      encoding: US-ASCII
      string: ! '{"batchcomplete":"","query":{"normalized":[{"from":"foo","to":"Foo"}],"redirects":[{"from":"Foo","to":"Foobar"}],"pages":{"11178":{"pageid":11178,"ns":0,"title":"Foobar","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Merge
        to|Metasyntactic variable|date=September 2014}}\n\n{{Distinguish|FUBAR}}\n{{Redirect|Foo|other
        uses|Foo (disambiguation)}}\n\nThe terms ''''''foobar'''''' ({{IPAc-en|\u02c8|f|u\u02d0|b|\u0251r}}),
        ''''''fubar'''''', or ''''''foo'''''', ''''''bar'''''', ''''''baz'''''' and
        ''''''qux'''''' (alternatively, ''''''quux'''''') and sometimes ''''''norf''''''<ref>http://www.vidyokarma.com/article.php?c=R-programming-language&page=1</ref>
        are sometimes used as [[placeholder name]]s (also referred to as [[metasyntactic
        variable]]s) in [[computer programming]] or computer-related documentation.<ref
        name=\"rfc3092\" /> They have been used to name entities such as [[Variable
        (computer science)|variable]]s, [[Function (computer science)|functions]],
        and [[command (computing)|command]]s whose purpose is unimportant and se[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&continue=&format=json&prop=revisions&redirects&rvprop=content&titles=foo%7Cbar%7Ccamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=hhvm
    body:
      encoding: US-ASCII
      string: ! '{"batchcomplete":"","query":{"normalized":[{"f[...]
